# The basics of Python continued....

In this notebook we will continue learning some of the basic syntax and data structures of Python.

## Review of the basics of Python

Let's review the basics of Python with a "number journey"...
1. Create a floating point number 3.14159 and assign it to the name `pi_approx`.
2. Multiple `pi_approx` by 2 and assign to the name `pi_approx_2x`
3. Convert `pi_approx` to an integer and assign it in the name `just_an_int`
4. Divide `just_an_int` by -8 and assign it to the name `a_negative_float`
5. Take the absolute value of `a_negative_float` and assign it to the name `a_positive_float` and print out the value of `a_positive_float`. 

Hint, the following functions could be useful: `int()`, `abs()`

In [ ]:
pi_approx = ...

pi_approx_2x = ...

just_an_int = ...

a_negative_float = ...

a_positive_float = ...

print(a_positive_float)

## Strings ##

Strings are how Python represents text. Strings can be created by putting text in either single quotes or in double quotes, but the same type of quote must be used at the start and end of the string. 

* `"This is a string created using double quotes"`
* `'This is a string created using single quotes'`
* `'This is not a correctly formed string because it starts with a single quote and ends with a double quote"`

In [ ]:
# create a string

In [ ]:
# create another string

In [ ]:
 # concatenation

In [ ]:
 # concatenation

In [ ]:
# multiplication

In [ ]:
# convert a number to a string

In [ ]:
# convert a string to an interger

In [ ]:
# convert a string to an interger - take 2

# int('2.3')

In [ ]:
# convert a string to a float

In [ ]:
# convert a string to an integer - take 3

In [ ]:
# building numbers through string concatenation

In [ ]:
# building numbers through string concatenation - take 2

In [ ]:
# using differen types of quotes

In [ ]:
# using differen types of quotes - take 2

## Types ##

Which can check what *type* is being stored in a name using the `type()` function.

## Lists 

Lists are a "data structure" we can use that can hold multiple values. 

We use the square brackets to create lists; e.g., `my_list = [1, 2, 3]`

We can also access elements using

In [ ]:
# A list of numbers

In [ ]:
# A list of strings

In [ ]:
# Lists can hold elements of different types

In [ ]:
# We can access elements of a list also using square brackets

In [ ]:
# We can replace elments of a list as well

In [ ]:
# concatenating lists

In [ ]:
# getting the number of elements in a list using the len() function

In [ ]:
# slicing lists

In [ ]:
# start at a different index

In [ ]:
# what does this do?

In [ ]:
# If a list is all numbers we can sum the values, or the maximum value

In [ ]:
# Can't sum values that are not numbers

# Example: NBA Salaries

Let's look a salaries of basketball players in the NBA! The data we will analyze contains infomraiton about each player including their salary from the 2022-2023 season listed in millions of dollars.  

We will load the data as a "pandas DataFrame" which is a data structure we will discuss more in a couple of weeks. We will then convert the data to lists and dictionaries to explore it further. 

This table can be found online: https://www.statcrunch.com/app/index.php?dataid=1843341

In [3]:
import pandas as pd

# download the data (manually).
nba_file_name = "nba_salaries_2022_23.csv"   


# load in the data
nba = pd.read_csv(nba_file_name)  

# show the first 6 rows
nba.head()

In [ ]:
# get the salaries as a list

salary_list = nba["SALARY"].to_list()
player_list = nba["PLAYER"].to_list()

In [ ]:
# Who is the first player listed?

In [ ]:
# What is the salary of the first 5 players?

In [ ]:
# What is the maximum and minimum salaries?

In [ ]:
# What is the minimum salary in dollars (rather than millions of dollars)?

In [ ]:
# What is the average salary?

## Text manipulation

A large part of Data Scientists' time is spent cleaning data, and a large part of data cleaning consists of manipulating text.

Let's explore some of the functions that are built into Python for manipulating strings of text.

### 1. Changing capitalization

One of the most basic things we can do is to change the capitalization of a piece of text. 

One case where this comes up is when one is merging two DataFrames that have the same key values but the values have different capitalization. For example, one might have two DataFrames that have a column that has the names of different countries, but in one DataFrame the country names are capitalized and in the other they are not. 

Python strings have a number of methods to change the capitalization of words including: 

- `capitalize()`: Converts the first character to upper case
- `lower()`: Converts a string into lower case
- `upper()`: Converts a string into upper case
- `title()`: Converts the first character of each word to upper case
- `swapcase()`: Swaps cases, lower case becomes upper case and vice versa

Let's explore these methods by manipulating this [quote](https://www.brainyquote.com/topics/yale-quotes) from [Herman Melville](https://en.wikipedia.org/wiki/Herman_Melville): "a whale ship was my Yale College and my Harvard".

In [ ]:
melville_quote = "a whale ship was my Yale College and my Harvard"

melville_quote

In [ ]:
# Capitalize the first letter

In [ ]:
# Convert all letters to lower case

In [ ]:
# Convert all letters to upper case

In [ ]:
# Make the first letter of each word capitalized

In [ ]:
# Make uppercase lowercase, and lowercase uppercase

### 2. Splitting and joining strings

There are several methods that can help us join strings that are contained into a list into a single string, or conversely, parse a single string into a list of strings. These include: 

- `split(separator_string)`: Splits the string at the specified separator, and returns a list
- `splitlines()`: Splits the string at line breaks and returns a list
- `join(a_list)`: Converts the elements of an iterable into a string

In [ ]:
# Split the Melville quote at each space into a list

In [ ]:
# get the element at index 1

In [ ]:
# Split a string at each line into a list

poem = """Some say the world will end in fire,
Some say in ice.
From what I’ve tasted of desire
I hold with those who favor fire.
But if it had to perish twice,
I think I know enough of hate
To say that for destruction ice
Is also great
And would suffice."""

poem

In [ ]:
# Split the poem into a list

In [ ]:
# Join a string together

### 3. Finding and replacing substrings

Some methods for locating a substring within a larger string include: 

- `count(substring)`: Returns the number of times a specified value occurs in a string
- `replace(original_str, replacement_str)`: Replace a substring with a different string.

Also: 
- `startswith(substring)`: Returns true if the string starts with the specified value
- `endswith(substring)` : Returns true if the string ends with the specified value

In [ ]:
# How many times does the word "my" occur in the Melville quote?

In [ ]:
# Replace a substring

In [ ]:
# Does the quote start with "a"?

In [ ]:
# Does the quote end with Harvard?

### Example: string processing on webpages

As an example, let's do some string processing on webpages!

In [4]:
# Download a webpage and save it as a file called politics.html

import requests

url = 'https://www.foxnews.com/media/gen-z-influencers-thank-president-elect-trump-saving-tiktok'
r = requests.get(url, allow_redirects=True)
open('politics.html', 'wb').write(r.content)

324901

In [5]:
# Read in the file as a string called webpage_string
file = open('politics.html', 'r', encoding="utf8")
webpage_string = file.read()

# Look at the first 300 characters

In [ ]:
# Replace a word on the webpage

webpage_updated = ...

In [ ]:
# Write updated string to a file
text_file = open("updated_politics.html", "w", encoding="utf8")
n = text_file.write(webpage_updated)
text_file.close()

## Comparisons ##

We can do simple mathematical and string comparisons in Python which return Boolean values.

In [ ]:
# The Boolean True

In [ ]:
# The Boolean False

In [ ]:
# True is equal to 1 and Fase is equal to 0

In [ ]:
# basic math comparison

In [ ]:
# checking the type of a basic math comparison

In [ ]:
# another basic math comparison

In [ ]:
# We use == to compare whether two items are equal (not 5 = 5)

In [ ]:
x = 20
y = 7

In [ ]:
# we can compare whether a value is between two values

In [ ]:
# we can also do mathematical operations between logical comparisons

In [ ]:
# we can use the `and` keyword to combine multiple logical statements

In [ ]:
# we can also use the `or` keyword to combine multiple logical statements

In [ ]:
# We can also compare strings

In [ ]:
# Stings compare alphabetically

In [ ]:
# Shorter words occur earlier than longer words that have matching letters

## More string manipulation

### 1. Checking string properties

There are also many functions to check properties of strings including:

- `isalnum()`: Returns True if all characters in the string are alphanumeric
- `isalpha()`: Returns True if all characters in the string are in the alphabet
- `isnumeric()`: Returns True if all characters in the string are numeric

- `isspace()`: Returns True if all characters in the string are whitespaces

- `islower()`: Returns True if all characters in the string are lower case
- `isupper()`:Returns True if all characters in the string are upper case
- `istitle()`: Returns True if the string follows the rules of a title

Let's test some of these methods out...

In [ ]:
# Checking if a string is all letters

In [ ]:
# Checking if a string is all numbers

In [ ]:
# Checking if a string only contains spaces

In [ ]:
# Checking if a string is upper case

### 2. String padding

Often we want to remove extra spaces (called "white space") from the front or end of a string. Or conversely, sometimes we want to add extra spaces to make a set of strings the same length (this is known as "string padding"). 

Python strings have a number of methods that can pad/trim strings including: 

- `strip()`: Returns a trimmed version of the string (i.e., with no leading or trailing white space). 
- `center(num)`: Returns a centered string (with equal padding on both sides)
- `zfill(num)`: Fills the string with a specified number of 0 values at the beginning

Let's use a modified version of Melville quote to explore this

In [ ]:
melville_quote2 = "    a whale ship was my Yale College and my Harvard   "
melville_quote2

In [ ]:
# Strip the white space

In [ ]:
# Center the quote by padding with white space 
#. to have a total of 70 characters

In [ ]:
# Make a number have leading 0's 
# Q: Why/when is this useful?

### 3. Filling in strings with particular values

There are a number of ways to fill in strings parts of a string with particular values. Perhaps the most useful is to use "f strings", which have the following syntax such as: 

`f"my string {value_to_fill} will be filled in"`.

Where the value of the variable `value_to_fill` will be filled into the string. 

Let's try it out...

In [ ]:
# Let's use an f-string

In [ ]:
# We can also do formatting with f-strings